<div class="parallax-background">
	<div class="center-head">
		<h1>Employee time tracking done right</h1>
	</div>
</div>

<div class="container">

	<div class="page-header">
	  <h1>Clock.it <small>Your new time clock solution</small></h1>
	</div>


<div class="row db-padding-btm db-attached">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="db-wrapper">
            <div class="db-pricing-eleven db-bk-color-one">
                <div class="price">
                    FREE
                    	<small>for startups</small>
                </div>
                <div class="type">
                    STARTER
                </div>
                <ul>

                    <li><i class="fa fa-check"></i>1 Administrator</li>
                    <li><i class="fa fa-check"></i>5 Users</li>
                    <li><i class="fa fa-check"></i>Limited Archive Access</li>
                    <li><i class="fa fa-check"></i>2 Month Data Export</li>
                </ul>
                <div class="pricing-footer">

                    <a href="#" class="btn db-button-color-square btn-lg">THIS ONE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <div class="db-wrapper">
        <div class="db-pricing-eleven db-bk-color-two popular">
            <div class="price">
                <sup>$</sup>39
                        <small>a month</small>
            </div>
            <div class="type">
                SMALL BUSINESS
            </div>
            <ul>

                <li><i class="fa fa-check"></i>3 Administrators</li>
                <li><i class="fa fa-check"></i>30 Users</li>
                <li><i class="fa fa-check"></i>Full Archive Access</li>
                <li><i class="fa fa-check"></i>Data Export for Past Year</li>
            </ul>
            <div class="pricing-footer">

                <a href="#" class="btn db-button-color-square btn-lg">THIS ONE</a>
            </div>
        </div>
             </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
         <div class="db-wrapper">
        <div class="db-pricing-eleven db-bk-color-three">
            <div class="price">
                <sup>$</sup>99
                        <small>a month</small>
            </div>
            <div class="type">
                CORPORATE
            </div>
            <ul>

                <li><i class="fa fa-check"></i>Unlimited Admins </li>
                <li><i class="fa fa-check"></i>Unlimited Users </li>
                <li><i class="fa fa-check"></i>Full Archive Access</li>
                <li><i class="fa fa-check"></i>Unlimited Data Export</li>
            </ul>
            <div class="pricing-footer">

                <a href="#" class="btn db-button-color-square btn-lg">THIS ONE</a>
            </div>
        </div>
             </div>
    </div>

</div>

</div>

